<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Курс по C++</title>
</head>
<body>
<header>
    <h1>Voyti v IT</h1>
</header>
<main>
    <h2>Курс по C++</h2>
    <p>Добро пожаловать на курс по C++! Этот курс поможет вам изучить основы языка программирования C++.</p>
    <h3>Содержание курса:</h3>
    <ul>
        <li><a href="/cplusplus/introduction">Введение в C++</a></li>
        <li><a href="/cplusplus/variables">Переменные и типы данных</a></li>
        <li><a href="/cplusplus/control-structures">Управляющие конструкции</a></li>
        <li><a href="/cplusplus/functions">Функции и методы</a></li>
        <li><a href="/cplusplus/classes">Классы и объекты</a></li>
        <li><a href="/cplusplus/oop">Основы ООП</a></li>
    </ul>z
    <a href="/test?course=cplusplus">Пройти тест по C++</a>
</main>
</body>
</html>


