<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введение в C++</title>
</head>
<body>
<header>
    <h1>Voyti v IT</h1>
</header>
<main>
    <h2>Введение в C++</h2>
    <p>C++ - это язык программирования общего назначения, который был разработан Бьярне Страуструпом в 1983 году. Он является расширением языка C и поддерживает как процедурное, так и объектно-ориентированное программирование.</p>
    <a href="/cplusplus">Назад к курсу</a>
</main>
</body>
</html>
