<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переменные и типы данных</title>
</head>
<body>
<header>
    <h1>Voyti v IT</h1>
</header>
<main>
    <h2>Переменные и типы данных</h2>
    <p>В C# существует несколько типов данных, включая целые числа, числа с плавающей точкой, строки и логические значения. Переменные используются для хранения данных.</p>
    <pre>
            <code>
int myInt = 5;
float myFloat = 5.75f;
string myString = "Hello, World!";
bool myBool = true;
            </code>
        </pre>
    <a href="/csharp">Назад к курсу</a>
</main>
</body>
</html>
