<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введение в C#</title>
</head>
<body>
<header>
    <h1>Voyti v IT</h1>
</header>
<main>
    <h2>Введение в C#</h2>
    <p>C# — это объектно-ориентированный язык программирования, разработанный компанией Microsoft. Он используется для создания разнообразных приложений, включая веб-приложения, настольные приложения и игры.</p>
    <a href="/csharp">Назад к курсу</a>
</main>
</body>
</html>
