<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управляющие конструкции</title>
</head>
<body>
<header>
    <h1>Voyti v IT</h1>
</header>
<main>
    <h2>Управляющие конструкции</h2>
    <p>Управляющие конструкции в C# включают в себя условные операторы (if, switch) и циклы (for, while, do-while).</p>
    <pre>
            <code>
if (myBool) {
    Console.WriteLine("True");
} else {
    Console.WriteLine("False");
}

for (int i = 0; i < 10; i++) {
    Console.WriteLine(i);
}
            </code>
        </pre>
    <a href="/csharp">Назад к курсу</a>
</main>
</body>
</html>
